/* common section style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
     line-height: normal;
    
}
/* nav section style */
.banner{
    display: flex;
    width: 1600px;
    height: 809px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.banner-tittle{
    width: 525px;
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding: 216px 230px 0px 845px;
}
.banner-description{
    width: 494px;
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 10px 230px 0px 876px;
}
.Contact{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    margin: 30px 230px 167px 1210px;
}